[submodule "version-control/.config/diff-so-fancy"]
	path = version-control/.config/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "text-editor/.config/vim/bundle/fugitive"]
	path = text-editor/.config/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "text-editor/.config/vim/bundle/gitgutter"]
	path = text-editor/.config/vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "text-editor/.config/vim/bundle/gnupg"]
	path = text-editor/.config/vim/bundle/gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "text-editor/.config/vim/bundle/lightline"]
	path = text-editor/.config/vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "text-editor/.config/vim/bundle/markdown"]
	path = text-editor/.config/vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "text-editor/.config/vim/bundle/nerdtree"]
	path = text-editor/.config/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "text-editor/.config/vim/bundle/pathogen"]
	path = text-editor/.config/vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "text-editor/.config/vim/bundle/supertab"]
	path = text-editor/.config/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "text-editor/.config/vim/bundle/startify"]
	path = text-editor/.config/vim/bundle/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "text-editor/.config/vim/bundle/obsession"]
	path = text-editor/.config/vim/bundle/obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule "text-editor/.config/vim/bundle/orgmode"]
	path = text-editor/.config/vim/bundle/orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "shell/src/z"]
	path = shell/src/z
	url = https://github.com/rupa/z.git
[submodule "shell/src/neofetch"]
	path = shell/src/neofetch
	url = https://github.com/dylanaraps/neofetch.git
[submodule "shell/src/autoenv"]
	path = shell/src/autoenv
	url = https://github.com/inishchith/autoenv.git
[submodule "languages/.config/nvm"]
	path = languages/.config/nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "version-control/src/git-hub"]
	path = version-control/src/git-hub
	url = https://github.com/ingydotnet/git-hub.git
[submodule "text-editor/.config/vim/bundle/javascript"]
	path = text-editor/.config/vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "text-editor/.config/vim/bundle/surround"]
	path = text-editor/.config/vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "text-editor/.config/vim/bundle/nerdcommenter"]
	path = text-editor/.config/vim/bundle/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "text-editor/.config/vim/bundle/syntastic"]
	path = text-editor/.config/vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
